.sorting
  display: flexbox
  float: left
  &__link
    text-align: center
    display: block
    padding: 4px 
    border: 1px solid #00108d
    border-radius: 10px
    margin-bottom: 5px
    transition: .2s
    &:hover
      border: 3px solid blue
     
